/* body {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* change to column */
}

Button {
  margin: 10px;
  width: 190px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.label{
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-left: 10px;
}